# Copyright (c) 2021 Pete Johanson
# SPDX-License-Identifier: Apache-2.0

# F411CE based Black Pill V2.0+ board board configuration

if BOARD_STM32F4_BARAM

config ZMK_KEYBOARD_NAME
	default "BARAM_F411_KB"

config ZMK_USB
	default y

config ZMK_KSCAN_MATRIX_POLLING
    default y

config ZMK_BACKLIGHT
    select LED
    select LED_GPIO

endif # BOARD_STM32F4_BARAM
